@import url('https://fonts.googleapis.com/css2?family=Lato&family=Mooli&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Mooli', sans-serif;
  color: #000000cf;
}
